PORT=3000
CORS_ORIGIN=
MONGODB_URI=mongodb+srv://razvizaid259:Mz12361236@cluster0.utawdvh.mongodb.net
ACCESS_TOKEN_SECRET=chaiorcode
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chaiorcoderefresh
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=